.about-image {
    max-width: 1200px;
    margin: 0 auto 2rem;
    padding: 0 2rem;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 1rem; // zaokrąglenie rogów
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }
  