.contact-header {
    background-color: #dcdad6;
    padding: 3rem 2rem;
  
    h1 {
      font-size: 2.5rem;
      letter-spacing: 2px;
      color: #3c4245;
      font-weight: bold; // pogrubiony tekst
      text-transform: uppercase;
      margin: 0;
      text-align: left; // zaczyna się od lewej
  
      .italic {
        font-style: italic;
        font-weight: bold;
      }
    }
  }
  